
  <style>
    .row {
      display: flex;
      justify-content: space-between;

    }
    .button_td{
     
      display: flex;
    }
    td {
  text-align: center;
  


}
        .rounded-Button{
            font-size: large;
            border-radius: 50%;
            font-weight: bold;
            width: 40px;
            height: 40px;
            
        }
        .table{
          border-collapse: collapse;
          box-shadow: 1px 1px 1px #999;
            -moz-box-shadow: 0 0 5px #888;
            -webkit-box-shadow: 0 0 5px#888;
            box-shadow: 0 0 5px #888;
            width: 100%;
        }
        .Head{
            font-size: X-large;
            display: inline;
            font-weight: bold;
        }
        button {
            margin-right: 5px;
        }
        tr {
         
  border-bottom: 1px solid  rgb(178, 174, 174);

 
}
      
    </style>


    <div style="padding: 20px;">
        <div class="row" >
            <div class=" Head">Users</div>
            <div > <button class="btn btn-secondary me-md-2 rounded-Button" routerLink="/users/form" type="button"> + </button>
            </div>
            </div>

    </div>
    <table class="table">
        <thead>
    <tr >
            <th >#</th>
            <th >First Name</th>
            <th >Last Name</th>
            <th >age</th>
            <th >DOB</th>
      
         
    </tr>
        </thead>
        <tbody >
            <tr  *ngFor="let User of UserList; let i = index" >
              <td >{{User.id}} </td>
              <td> {{User.first_name}}</td>
              <td> {{User.last_name }}</td>
              <td> {{User.dateOfBirthday| getAge }}</td>
              <td> {{User.dateOfBirthday| date }}</td>
           
              <td class="button_td" style="margin-top:3px ;margin-bottom:3px ;" ><button style="background-color:#999 ;border:#999 ; color: white; font-size: 22px ;padding: 5px;border-radius: 20%;;"(click)="editUser(User)">edit</button>
              <button style="background-color:red;border: red ; color: white; font-size: 22px ;padding: 5px;border-radius: 20%;"(click)="deleteUser(User)">X</button></td>
              
            </tr> 
          

        </tbody>
    </table>
    <p style="color: #888">{{i}} items to show </p>
   
   




















