
    
    
    
    <div class="containerd">
        <div class="header">
            <div class="logo">APP LOGO</div>
        </div>
        <div class="content">
            <div class="left">
                <div class="leftItem"  routerLink="/users/form">Users</div>
                <span class="line"></span>
                <div class="leftItem" routerLink="/Posts" >Posts</div>
                <span class="line"></span>
                <div class="leftItem" >Settings</div>
                <span class="line"></span>

            </div>
            <div class="right">
           <router-outlet></router-outlet> 
            </div>
<!--

<body>
    <header>
        <div class="hederItem1">APP LOGO</div>
    </header>
    <div class="Main">
        <div class="leftSide"> 
         
        <input class="userButton" routerLink="users/List" value="User" type="button">
         <a routerLink=""><button>Back</button></a>
      </div> 
      
        <div class="rightSide">
            <div class="rightSideItem1"><router-outlet></router-outlet></div>
         

        </div>
    </div>
    <div class="footer">
        footer
    </div>
   
</body>-->

