
<body>
    <header>
        <div class="hederItem1">Header Section</div>
  
    </header>
    <div class="Main">
        <div class="leftSide"> 
         
        <input class="userButton" routerLink="users/List" value="User" type="button">
         <a routerLink=""><button>Back</button></a>
      </div> 
      
        <div class="rightSide">
            <div class="rightSideItem1"><router-outlet></router-outlet></div>
         

        </div>
    </div>
    <div class="footer">
        footer
    </div>
   
</body>

