
*{
    padding:0%;
    margin: 0%;
}
.containerd{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 46, 247);
    height: 100vh;
    position: relative;
}
.header{
    min-height: 60px;
    background-color: #6c757d;
    display: flex;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
    
    color: rgb(255, 255, 255);
}
.header .logo{
    font-size: large;
    padding: 20px;
    font-weight: bold;
    color: white;
}



.content{
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
} 
.left{
    padding-top: 20px;
    width:600px;
    background-color:#e9ecef;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center;   */
}
.leftItem{
    font-weight: bold;
    display: block;
    margin-left: 20px;
    cursor: pointer;
}
.line {
background-color:rgb(221, 219, 219);
height: 0.5px;
width: 300px;
display: block;
margin: 20px auto;}
.right{
    flex: 5;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

