<style>
    .container{
        margin: auto;
        margin-top:10px;
        width: 80%;
    }
    .form-control{
        border: 0px  #999;
    }
    .table{
        box-shadow: 1px 1px 1px #999;
        box-shadow: 0 0 5px #888;
    }
</style>
<div class="container table">
    <div class="form-floating ">
        <textarea f class="form-control" placeholder="  Add Your Post Here" style="overflow:auto; width:95%;margin-top: 16px;padding-right: 16px;"></textarea>
      <br>
      <br>
        <button type="button" style="margin-left:20px;font-size: 25px ;background-color: #999;  border-radius:10px;color: aliceblue;padding: 4px; border: #888;">Share</button>
        <br>
        <br>
    </div>
</div>
<br>
<div class="container"><p style="font-weight: bold; font-size: 25px;">Posts</p></div>
<div class="container">
    
</div>

