
<div>
<form #form="ngForm" (ngSubmit)="addUser(form)">
<div>
    <br><label > name </label>
    <input  required type="text" [(ngModel)]="NewUser.name" name="name" >
    <span *ngIf="form.form.controls['name']?.touched && ! form.form.controls['name']?.valid">required</span>

    <br><label > date of birthday  </label>
    <input type="date" [(ngModel)]="NewUser.dateOfBirthday" name="date of birthday" >

    <br><label > email </label>
    <input  required type="email" [(ngModel)]="NewUser.email" email  name="email">
    <span *ngIf="form.form.controls['email']?.touched && ! form.form.controls['email']?.valid"> required</span>
   
    <br><label > password </label>
    <input required type="password" [(ngModel)]="NewUser.password" name="password"> 
    <span *ngIf="form.form.controls['password']?.touched && ! form.form.controls['password']?.valid"> required</span>
   
   
    </div>
    <br><button type="submit" >Add User</button>
</form>
</div>

